.modal {
  @include d-flex;
  @include card-wrapper;
  width: 70%;
  height: 70%;
  margin-top: 122px;
  background-color: $c-white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  outline: none;

  &__close-button {
    @include d-flex;
    border: none;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    padding: 0;
    outline: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease;

    &:hover {
      background-color: $c-background;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c-background;
  overflow-y: auto;
  z-index: 9999;
}
