.header {
  height: $s-header-height;
  @include d-flex($jc: space-between);

  background-color: $c-white;
  border-bottom: 1px solid rgba($c-text, 0.2);

  &__logo {
    @include d-flex;
    &__text {
      color: $c-text-bold;
      font-weight: $fw-bold;
      font-size: 20px;
      margin-left: 12px;
    }
  }

  &__hamburger-menu {
    display: none;
  }

  &__content {
    width: 100%;
    @include d-flex($jc: space-between);
  }

  &__right {
    @include d-flex($jc: space-between);
  }

  &__language-switcher {
    margin-left: 60px;
  }

  &__login-button {
    margin-left: 40px;

    .button {
      text-transform: capitalize;
      width: 175px;
    }
  }

  &__popover {
    &-content {
      padding: 18px;
      @include d-flex;
      flex-direction: column;

      .button {
        width: 120px;
        margin-top: 12px;
      }
    }

    &-email {
      font-weight: $fw-bold;
    }
  }
}

@media (max-width: 991px) {
  .header {
    height: $s-header-height-mobile;

    &__hamburger-menu {
      display: block;

      .button {
        height: auto;
        padding: 0;
      }
    }

    &__content {
      .header__right {
        flex-direction: column;
        background-color: black;
        position: fixed;
        justify-content: flex-start;
        left: 0;
        top: 86px;
        right: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        z-index: 9999;

        &--show {
          visibility: visible;
          height: 100vh;
          opacity: 1;
          color: $c-white;
        }
      }
    }

    &__language-switcher {
      margin-left: 0;
      margin-bottom: 32px;
    }

    &__login-button {
      margin-left: 0;
    }

    &__popover-email {
      margin-top: 12px;
      text-align: center;
    }
  }
}
