.nav {
  &__list {
    @include d-flex($jc: space-between);
    width: 100%;

    &__item {
      font-size: $fs-medium;
      height: 44px;
      @include d-flex;
      align-items: center;
      transition: all 0.2s ease;
      margin-left: 20px;
      white-space: nowrap;

      &:hover {
        color: $c-text-bold;
        text-decoration: none;
      }
    }

    .active {
      font-weight: $fw-bold;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav {
    &__list__item {
      font-size: $fs-small;
    }
  }
}

@media (max-width: 991px) {
  .nav {
    &__list {
      flex-direction: column;
      margin-bottom: 32px;
      margin-top: 32px;

      &__item {
        margin-bottom: 12px;
      }
    }
  }
}
