.home {
  min-height: calc(100vh - #{$s-header-height} - #{$s-footer-height});
  @include d-flex;
  flex-direction: column;

  &__title {
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    margin-top: 42px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .home {
    min-height: calc(100vh - #{$s-header-height-mobile} - #{$s-footer-height});

    &__title {
      font-size: 36px;
      line-height: 42px;
    }
  }
}

@media (max-width: 767px) {
  .home {
    min-height: calc(
      100vh - #{$s-header-height-mobile} - #{$s-footer-height-mobile}
    );
  }
}
